/* styles.css */

body {
    font-family: Gill Sans, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f5e6;
    color: #1d363b; /* Corrected font color */
}
.top-bar {
    width: 100vw;
    background-color: #1d363b;
    color: #f9f5e6;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
    box-sizing: border-box;
    transition: transform 0.1s ease-in-out; /* Smooth hide/show transition */
}

.top-bar.hidden {
    transform: translateY(-100%); /* Hide the top bar by moving it up */
}
.top-bar .contact-info a {
    color: #ffffff;
    text-decoration: none;
}
.header-container {
    width: 100%;
    max-width: 700px;
    background-color: #f9f5e6;
    padding: 1px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1px; /*tsekka kas see töötab paremini*/
    margin-top: 60px; /* Add margin to account for fixed top bar */
}   
.logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
}
.title {
    font-size: 2em;
    margin: 1px 0; /*tsekka kas see töötab paremini*/
    margin-top: 20px;
}
.container {
    width: 100%;
    max-width: 700px;
    background-color: #f9f5e6;
    padding: 1px;
    box-sizing: border-box;
    text-align: center;
}
.content-block {
    margin: 20px 0;
    padding: 20px;
    background-color: #fbf2d0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.content-block h2, .content-block p {
    text-align: center;
}
.content-block a {
    color: inherit; /* Inherit the text color */
    text-decoration: none; /* Remove underline from link */
}
.content-block a:hover {
    text-decoration: underline; /* Underline on hover */
}
.content-block a:visited {
    text-decoration: none; /* Ensure visited links do not have an underline */
}
/* Button Styles */
a button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1d363b !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    font-size: 1em !important;
}

a button:hover {
    background-color: #34495e !important;
}
/* Bottom Bar Styles */
.bottom-bar {
    width: 100%;
    background-color: #f9f5e6;
    color: #1d363b;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.bottom-bar-container {
    width: 100% !important;
    max-width: 700px !important;
    margin: 0 auto;
    text-align: center;
}